#app, .v-application{
    font-size:16px;
    font-family:'Noto Sans KR',sans-serif !important;
}
body{
    margin:0;
    overflow:hidden
}
.router-link-active{
    text-decoration:none;
}
.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:first-child + .v-toolbar__title, .v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:first-child + .v-toolbar__title{
    padding-left:0;
    margin:auto;
}
.intro-wrap{
    display:block;
    position:relative;
    width:100%;
    height:100%;
    z-index:0;
    padding-top:100px;
    padding-bottom:100px;
}
.intro-wrap::after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:plum;
    opacity:0.2;
    z-index: -1
}
.intro{
    text-align:center;
    vertical-align:middle;
}
.intro img{
    width:80%;
    margin-bottom:30px;
    border-radius:20px;
}
.intro-story{
    display:block;
    font-size:1.5em;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    width:250px;
    padding:15px;
    background-color:rgb(252, 151, 151);
    border-radius:50px;
    margin:auto;
    box-shadow:1px 2px 5px 2px pink;
}
.v-application .main-title{
    font-weight:900;
    font-size:1.4em !important;
}
.title-wrap{
    margin:auto;
    width:80%;
    border-bottom:2px solid rgb(255, 229, 234);
}
.main-title{
    display:block;
    text-align:center;
    font-weight:bolder;
    color:#fff;
    text-shadow:2px 2px 6px palevioletred;
    width:250px;
    padding:15px;
    margin:auto;
    background: pink;
    margin-top:30px;
    margin-bottom:30px;
    border-radius:10px;
}
.question-wrap{
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    width:80%;
    border-bottom:2px solid rgb(255, 229, 234);
}
.question-wrap img{
    margin-bottom:10px;
}
.question{
    margin:1.2em -0.25em 1.5em 0;
}
.answer-wrap{
    width:100%;
    height:100%;
}
.answer{
    padding-bottom:30px;
}
.answer p{
    display:block;
    font-size:1em;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    width:200px;
    padding:5px;
    margin:auto;
    text-align: center;
    border-radius:50px;
    margin-top:10px;
    background:pink;
    border:2px solid pink;
    box-sizing:border-box;
}
.answer p:hover{
    color:pink;
    background:#fff;
}
.result-wrap{
    position:relative;
    width:100%;
    height:100%
}
.result{
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
    padding-bottom:50px
}
.result-img{
    margin-top:120px
}
.result-cont{
    margin:auto;
    margin-top:50px;
    color:rgb(254, 122, 144);
    font-size:0.8em;
    width:300px;
    padding:20px;
    border:4px solid rgb(252, 209, 216);
    border-radius:5px;
}
.t-return{
    display:block;
    font-size:1em;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    width:200px;
    padding:10px;
    background-color:rgb(252, 151, 151);
    border-radius:50px;
    margin:auto;
    margin-top:50px;
    box-shadow:1px 2px 5px 2px pink;
}
.t-return:hover{
    color:rgb(252, 151, 151);
    background:#fff;
}
.result h2{
    font-size:1.2em;
    text-align:left;
    padding-left:10%;
    margin-top:50px;
}
.pc-wrap{
    width:80%;
    margin:auto;
}
.t-home{
    display:block;
    font-size:0.9em;
    font-weight:bold;
    cursor:pointer;
    width:280px;
    padding:10px;
    background-color:rgb(252, 151, 151);
    border-radius:50px;
    margin:auto;
    margin-top:50px;
    box-shadow:1px 2px 5px 2px pink;
}
.t-home:hover{
    color:#fff !important
}